<ol>
    <li>
        Compléter la fonction <code>remplace_algue</code>
    </li>
    <li> Éxécuter le programme</li>
    <li> Vérifier que l résultat correspond à ce que l'on a trouvé dans l'exemple :
        <ul>
            <li>n = 0, A</li>
            <li>n = 1, AB</li>
            <li>n = 2, AB A</li>
            <li>n = 3, AB A AB</li>
            <li>n = 4, AB A AB AB A</li>
            <li>n = 5, AB A AB AB A AB A AB</li>
            <li>n = 6, AB A AB AB A AB A AB AB A AB AB A </li>
        </ul>
    </li>
    <li>
        Si vous êtes en classe, appelez le professeur pour valider
    </li>
</ol>