<ol>
    <li>
        Compléter la fonction <code>l_system</code>
    </li>
    <li> Éxécuter le programme</li>
    <li> Vérifier que l résultat correspond à ce que l'on a trouvé dans l'exemple :
        <ul>
            <li>n = 6, AB A AB AB A AB A AB AB A AB AB A </li>
        </ul>
    </li>
    <li>
        Si vous êtes en classe, appelez le professeur pour valider
    </li>
</ol>