<ol>
    <li> Compléter la fonction qui génére le motif du l-system. </li>
    <li> La tester en exécutant le programme (qui échouera si le assert n'est pas satisfait). </li>
    <li> Compléter la fonction qui effectue le tracé. </li>
    <li>
        Optionnellement, vous pouvez à chaque étape diminuer l'angle, la longueur et l'épaisseur du trait.
    </li>
    <li> Tester en exécutant le programme. </li>
    <li> Si vous êtes en classe, faîtes valider par le professeur. </li>
</ol>