<ol>
    <li>Compléter la fonction <code>l_system</code> en reprenant le code de l'exercice précédent</li>
    <li>Completer la fonction <code>trace</code> pour effectuer le tracé correspondant au mot</li>
    <li>MOdifier les valeurs de longueur et generation pour avoir un tracé plus détaillé (Attention de ne pas prendre de trop grandes valeurs)</li>
    <li>Pour pouvoir avoir un flocon complet, remplacer la séquence de départ par <b>AddAddA</b> au lieu de <b>A</b></li>
    <li>Si vous êtes en classe faîtes valider par le professeur</li>
</ol>