<ol>
    <li>Compléter la fonction <code>spirale</code> pour qu'elle dessine une spirale régulière
         où le côté varie de 5 à chaque étape et ne dépasse pas la longueur maximum</li>
    <li>tester le code</li>
    <li>
        Si vous êtes en classe, appelez le professeur pour valider.
    </li>
</ol>