{% set has_javascript = false %}
{% extends 'cours-python.twig.html' %}

{% block cours %}
<div class="cours">
    <div class="md" data-src="ressources/l-system/assets/markdown/arbre.md">
    </div> 
</div>
{% endblock %}