{% extends 'cours-python.twig.html' %}

{% block cours %}
<div class="cours">
    <h2> Représentation du L-System </h2>
    <img src="ressources/l-system/assets/img/flocon-large.jpg"
    class="img-fluid border rounded"
        alt="Les amis !">
    <p class="text-end fst-italic fw-lighter">
        Photo par <a href="https://unsplash.com/@aaronburden?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">
        Aaron Burden</a> 
        sur 
        <a href="https://unsplash.com/s/photos/snowflake?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">
        Unsplash
        </a>
    </p>
    <p>
        Nous allons maintenant utiliser le module turtle pour pouvoir tracer une courbe classique, le flocon de Van-Koch.
        Pour cela, nous utiliserons la grammaire suivante : <b>A</b> est remplacé par <b>AgAddAgA</b>. Les lettres <b>d</b>
        et <b>g</b> n'ont pas de remplacement. Le mot de départ sera A
    </p>
    <h3> L-system </h3>
    <p>
        Réutilisez la fonction l-system que vous aviez défini auparavant et vérifier qu'au bout de 3 générations
        vous obtenez le bon résultat
    </p>
    <div class="essais">
        <button type="button" data-has-blockly="false" data-has-graphics="false"
            data-has-shell="true"
            data-active-tab="consigne"
            data-consigne-url="ressources/l-system/assets/consignes/l-system2.html"
            data-python-id="l-system2"
            data-python-url="ressources/l-system/assets/python/l-system2.py"
            class="btn btn-success btn-python">
            Compléter le code
        </button>
    </div>
    <h3>
        Tracé
    </h3>
    <p>
        Les caractères de notre chaîne de caractère vont avoir une signification en <code>turtle</code>:
    </p>
    <ul>
        <li>A signifie Avancer</li>
        <li>g signifie tourner à gauche de 60°</li>
        <li>d signifie tourner à droite de 60°</li>
    </ul>
    <p>
        On va effectuer les tracés en utilisant la chaîne de caract!re fabriqué par notre L-system. À chaque génération, on 
        divise la longueur des côtés pour avancer par 3 (par exemple, si la longueur est de 81 au départ, à  la génération suivante
        elle sera de 27, puis de 9, puis de 3 et à la génération suivante de 1)
    </p>

    <div class="essais">
        <button type="button" data-has-blockly="false" data-has-graphics="true"
            data-has-shell="false"
            data-active-tab="consigne"
            data-consigne-url="ressources/l-system/assets/consignes/koch.html"
            data-python-id="koch"
            data-python-url="ressources/l-system/assets/python/koch.py"
            class="btn btn-success btn-python">
            Compléter le code
        </button>
    </div>
</div>
{% endblock %}