{% extends 'cours-python.twig.html' %}

{% block cours %}
<div class="cours">
    <h2> Grammaire de Lindenmayer </h2>
    <img src="ressources/l-system/assets/img/grammaire-large.jpg"
    class="img-fluid border rounded"
        alt="Les amis !">
    <p class="text-end fst-italic fw-lighter">
        Photo par <a href="https://unsplash.com/@amadorloureiro?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">
        Amador Loureiro</a> on <a href="https://unsplash.com/s/photos/grammar?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">
        Unsplash</a>
    </p>
    <h3> L-System </h3>
    <p>
        Un L-System est un système de réécriture formelle que nous allons présenter de façon simplifiée comme suit. Il nous
        faut à minima trois éléments :
    </p>
    <ul>
        <li> Un alphabet </li>
        <li> Un axiome de départ (le mot initial)</li>
        <li> Une règle de réécriture</li>
    </ul>
    <p>
        La régle de réécriture indique comment passer d'une génération à une autre, en donnant pour un symbole 
        de l'alphabet son devenir à la génération suivante
    </p>
    <h3> Exemple </h3>
    <p>
        L'algue de LINDENMAYER était un système sensé représenter l'évolution d'une algue unicellulaire. L'alphabet contenait deux lettres
        A et B. Le mot de départ était A. La règle de réécriture était la suivante :
    </p>
    <ul>
        <li> A devient AB </li>
        <li> B devient A </li>
    </ul>
    <p>
        Si on applique ce système pour 5 générations, voici ce que l'on obtient :
    </p>
    <ul>
        <li>n = 0, A</li>
        <li>n = 1, AB</li>
        <li>n = 2, AB A</li>
        <li>n = 3, AB A AB</li>
        <li>n = 4, AB A AB AB A</li>
        <li>n = 5, AB A AB AB A AB A AB</li>
    </ul>
    <div class="todo">
        <h6> À faire vous même </h6>
        <p>
           Écrivez la chaine de caractère obtenue à la génération suivante, pour n = 6 
        </p>
        <button class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#exercice1">
            <i class="bi bi-bullseye"></i> Afficher la Correction
        </button>
        <div class="correction collapse" id="exercice1">
            <p>
                Pour n = 6, on aura AB A AB AB A AB A AB AB A AB AB A
            </p>
        </div>
    </div>
    
    <h3>
        Codage informatique
    </h3>
    <h4> Premiers remplacements </h4>
    <p>
        Cette grammaire formelle se prête très bien à un code informatique. On va créer une fonction 
        <code>remplacer_algue</code> qui va prendre en entrée une chaine de l'algue de LINDENMAYER et qui en 
        sortie va renvoyer la génération suivante. Vous compléterez le code fourni pour cela.
    </p>
    <pre><code class="python">def remplacer_algue(mot):
    mot_suivant = ""
    # Mettez votre code ici
    return mot_suivant

# Test de la fonction
algue = "A"
print(algue)
for k in range(6):
    algue = remplacer_algue(algue)
    print(algue)</code></pre>
    <div class="essais">
        <button type="button" data-has-blockly="false" data-has-graphics="false"
            data-active-tab="consigne"
            data-consigne-url="ressources/l-system/assets/consignes/algue1.html"
            data-python-id="algue1"
            data-python-url="ressources/l-system/assets/python/algue1.py"
            class="btn btn-success btn-python">
            Compléter le code
        </button>
    </div>

    <h4> Règles de réécriture</h4>
    <p>
        Plutôt que de faire une fonction propre à chaque type de L-system, on va faire une fonction
        générique qui permettra de passer à la génération suivante en passant à la fonction 
        deux éléments : 
    </p>
    <ul>
        <li>
            Le mot actuel
        </li>
        <li>
            les règles de réécriture
        </li>
    </ul>
    <div class="todo">
        <h6> À faire vous même </h6>
        <p>
           À votre avis, quelle structure informatique est adaptée pour stocker les 
           règles de réécriture ?
        </p>
        <button class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#exercice1">
            <i class="bi bi-bullseye"></i> Afficher la Correction
        </button>
        <div class="correction collapse" id="exercice1">
            <p>
               Le mieux est d'utiliser un dictionnaire. Les clefs seront les symboles
               de l'alphabet à remplacer et les valeurs seront les chaînes de remplacement.
               Comme chaque symbole de l'alphabet ne peut avoir qu'une seule réécriture, 
               le dictionnaire est adapté.
            </p>
        </div>
    </div>
    <p>
        Vous allez donc compléter le programme suivant, avec la fonction <code>remplacer_dico</code> qui
        prend en entrée :
    </p>
    <ul>
        <li>un mot</li>
        <li>un dictionnaire qui représente les remplacements</li>
    </ul>
    <p> et l'éxécuter pour pouvoir obtenir l'exemple de départ</p>
    <div class="essais">
        <button type="button" data-has-blockly="false" data-has-graphics="false"
            data-active-tab="consigne"
            data-consigne-url="ressources/l-system/assets/consignes/algue2.html"
            data-python-id="algue2"
            data-python-url="ressources/l-system/assets/python/algue2.py"
            class="btn btn-success btn-python">
            Compléter le code
        </button>
    </div>
    <h4> Le code final </h4>
    <p>
        On va encore ajouter un élément à notre fonction : au lieu de se contenter d'avoir juste la génération suivante, on 
        aura directement la génération n° k. Pour cela, il suffit de passer le numéro de la génération en paramètre de la 
        fonction. On va donc écrire une fonction <code>l_system</code> qui prend en entrée trois paramètres :
    </p>
    <ul>
        <li>le mot initial</li>
        <li>le dictionnaire des règles de réécriture</li>
        <li>le nombre de générations à effectuer</li>
    </ul>
    <p> et qui retournera en sortie le mot correspondant à la génération recherchée.</p>
    <div class="essais">
        <button type="button" data-has-blockly="false" data-has-graphics="false"
            data-active-tab="consigne"
            data-consigne-url="ressources/l-system/assets/consignes/algue3.html"
            data-python-id="algue3"
            data-python-url="ressources/l-system/assets/python/algue3.py"
            class="btn btn-success btn-python">
            Compléter le code
        </button>
    </div>
    <p>
        <b>Pensez à sauvegarder votre code avant de passer à la suite, vous en aurez besoin pour l'exercice final.</b>. 
        Mais pour le moment, nous allons voir (ou revoir) le module turtle qui permet de faire facilement des dessins 
        en python.
    </p>
</div>
{% endblock %}