{% extends 'cours.twig.html' %}

{% block cours %}
<div class="cours">
    <h2> Introduction </h2>
    <img src="ressources/l-system/assets/img/bacterie-large.jpg"
    class="img-fluid border rounded"
        alt="Les amis !">
    <p class="text-end fst-italic fw-lighter">
        Photo par <a href="https://unsplash.com/@cdc?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">CDC</a> 
        sur <a href="https://unsplash.com/s/photos/bacteria?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
    </p>
    <p>
        Aristid LLINDENMAYER est un biologiste Hongrois né en 1925 à Budapest et mort en 1989. Il est célébre pour avoir 
        inventé une grammaire formelle, aujourd'hui appelée L-System, qui permet de développer le développement cellulaire de plantes
        ou de bactéries et qui s'est aussi révélée adaptée pour les coquillages. 
    </p>
    <p>
        Cette forme de grammaire générative a été mise en œuvre par de nombreux auteurs au niveau graphique pour générer des 
        images spectaculaires. Au départ, Lindenmayer conçoit sa formalisation comme un modèle de langages formels qui permet
        de décrire le développement d'organismes multicellulaires simples. À cette époque il travaille sur les levures, 
        les champignons et des algues. Mais sous l'influence des théoriciens et des praticiens de l'informatique, 
        ce système a conduit à des familles de langages formels et aussi à des méthodes pour générer graphiquement 
        des plantes idéalisées très complexes. 
    </p>
    <p>
        Nous allons nous intéresser aux rudiments de ces systèmes et utiliser le module turtle pour faire des graphismes.
    </p>
</div>
{% endblock %}