{% extends 'cours-python.twig.html' %}

{% block cours %}
<div class="cours">
    <h2> Le module turtle </h2>
    <img src="ressources/l-system/assets/img/turtle-large.jpg"
    class="img-fluid border rounded"
        alt="Les amis !">
    <p class="text-end fst-italic fw-lighter">
        Photo par <a href="https://unsplash.com/@jetlag?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">
        David Troeger</a> 
        sur <a href="https://unsplash.com/s/photos/turtles?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">
        Unsplash</a>
    </p>
    <p>
        Le module Turtle de Python permet de dessiner très simplement des figures. Il est présent sur votre calculatrice Numworks, 
        dans l’installation par défaut de Python. Il est aussi utilisable en ligne dans Basthon, comme sur ce site.
    </p>
    <h3> Commandes courantes </h3>
    <p>
        Turtle permet de commander une tortue pour dessiner dans une figure. 
        On peut employer des commandes telles que <code>turtle.forward(...)</code>
        ou <code>turtle.right()</code> qui déplacent la tortue. 
        Les méthodes courantes sont:
    </p>
    <table class="table table-striped">
        <thead>
        <tr>
        <th>Méthode</th>
        <th>Paramètres</th>
        <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td><code>Turtle</code></td>
        <td>aucun</td>
        <td>Crée et renvoie un objet <code>Turtle</code></td>
        </tr>
        <tr>
        <td><code>forward()</code></td>
        <td><code>distance</code></td>
        <td>Déplace la tortue vers l’avant de <code>distance</code></td>
        </tr>
        <tr>
        <td><code>backward()</code></td>
        <td><code>distance</code></td>
        <td>Déplace la tortue vers l’arrière de <code>distance</code></td>
        </tr>
        <tr>
        <td><code>right()</code></td>
        <td><code>angle</code></td>
        <td>Tourne la tortue dans le sens des aiguilles d’une montre</td>
        </tr>
        <tr>
        <td><code>left()</code></td>
        <td><code>angle</code></td>
        <td>Tourne la tortue dans le sens contraire des aiguilles d’une montre</td>
        </tr>
        <tr>
        <td><code>penup()</code></td>
        <td>aucun</td>
        <td>Lève le crayon de la tortue</td>
        </tr>
        <tr>
        <td><code>pendown()</code></td>
        <td>aucun</td>
        <td>Abaisse le crayon de la tortue</td>
        </tr>
        <tr>
        <td><code>up()</code></td>
        <td>aucun</td>
        <td>Lève le crayon de la tortue</td>
        </tr>
        <tr>
        <td><code>down()</code></td>
        <td>aucun</td>
        <td>Abaisse le crayon de la tortue</td>
        </tr>
        <tr>
        <td><code>color()</code></td>
        <td>nom de couleur</td>
        <td>Change la couleur de la tortue</td>
        </tr>
        <tr>
        <td><code>fillcolor()</code></td>
        <td>nom de couleur</td>
        <td>Change la couleur de remplissage d’un polygone</td>
        </tr>
        <tr>
        <td><code>heading()</code></td>
        <td>aucun</td>
        <td>Renvoie la direction courante</td>
        </tr>
        <tr>
        <td><code>position()</code></td>
        <td>aucun</td>
        <td>Renvioe la position de la tortue</td>
        </tr>
        <tr>
        <td><code>goto()</code></td>
        <td><code>x, y</code></td>
        <td>Déplace la tortue vers la position <code>x, y</code></td>
        </tr>
        <tr>
        <td><code>begin_fill()</code></td>
        <td>aucun</td>
        <td>Enregistre le premier point d’un polygone a remplir</td>
        </tr>
        <tr>
        <td><code>end_fill()</code></td>
        <td>aucun</td>
        <td>Ferme le polygone et le remplit de la couleur courante</td>
        </tr>
        <tr>
        <td><code>dot()</code></td>
        <td>aucun</td>
        <td>Dessine un point à la position courante</td>
        </tr>
        <tr>
        <td><code>stamp()</code></td>
        <td>aucun</td>
        <td>Dessine la forme de la tortue sur l’écran (<em>stamp</em> = tampon)</td>
        </tr>
        <tr>
        <td><code>shape()</code></td>
        <td><code>shapename</code></td>
        <td>Change la forme de la tortue (<code>arrow</code>, <code>classic</code>, <code>turtle</code>, <code>circle</code>)</td>
        </tr>
        </tbody>
        </table>
    
    <h3> Dessiner avec turtle</h3>
    <p>
        Pour utiliser les méthodes de turtle, il faut importer turtle.
    </p>
    <ul>
        <li>Importer le module turtle</li>
        <li>Créer et contrôler la tortue</li>
        <li>Dessiner avec les méthodes de la tortue</li>
        <li>Lancer turtle.done()</li>
    </ul>
    <p>
        Voici un premier exemple de code, qui dessine un carré :
    </p>
    <pre><code>import turtle
skk = turtle.Turtle()

for i in range(4):
    skk.forward(50)
    skk.right(90)

turtle.done()</code></pre>
    <div class="essais">
        <button type="button" data-has-blockly="false" data-has-graphics="true"
            data-has-shell="false"
            data-python-id="turtle1"
            data-python-url="ressources/l-system/assets/python/turtle1.py"
            class="btn btn-success btn-python">
            Essayer le code
        </button>
    </div>
    <h3> Quelques exemples </h3>

    <div class="row">
        <div class="col-sm-6 p-3">
            <div class="card">
                <img class="card-img-top" src="ressources/l-system/assets/img/hexagone.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Un hexagone</h5>
                    <p class="card-text">Un hexagone régulier.</p>
                    <button type="button" data-has-blockly="false" data-has-graphics="true" data-has-shell="false"
                        data-python-id="hexagone" data-python-url="ressources/l-system/assets/python/hexagone.py"
                        class="btn btn-success btn-python">
                        Essayer le code
                    </button>
                </div>
            </div>
        </div>

        <div class="col-sm-6 p-3">
            <div class="card">
                <img class="card-img-top" src="ressources/l-system/assets/img/etoile.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Une étoile</h5>
                    <p class="card-text">Un étoile à 5 branches.</p>
                    <button type="button" data-has-blockly="false" data-has-graphics="true" data-has-shell="false"
                        data-python-id="etoile" data-python-url="ressources/l-system/assets/python/etoile.py"
                        class="btn btn-success btn-python">
                        Essayer le code
                    </button>
                </div>
            </div>
        </div>

        <div class="col-sm-6 p-3">
            <div class="card">
                <img class="card-img-top" src="ressources/l-system/assets/img/rosace.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Une rosace</h5>
                    <p class="card-text">Une jolie rosace.</p>
                    <button type="button" data-has-blockly="false" data-has-graphics="true" data-has-shell="false"
                        data-python-id="rosace" data-python-url="ressources/l-system/assets/python/rosace.py"
                        class="btn btn-success btn-python">
                        Essayer le code
                    </button>
                </div>
            </div>
        </div>

        <!--
        <div class="col-sm-6 p-3">
            <div class="card">
                <img class="card-img-top" src="ressources/l-system/assets/img/spirale.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Une spirale</h5>
                    <p class="card-text">Une spirale.</p>
                    <button type="button" data-has-blockly="false" data-has-graphics="true" data-has-shell="false"
                        data-python-id="spirale" data-python-url="ressources/l-system/assets/python/spirale.py"
                        class="btn btn-success btn-python">
                        Essayer le code
                    </button>
                </div>
            </div>
        </div>
        -->
        
        <div class="col-sm-6 p-3">
            <div class="card">
                <img class="card-img-top" src="ressources/l-system/assets/img/rainbow.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">L'arc en ciel</h5>
                    <p class="card-text">Une fleur arc en ciel.</p>
                    <button type="button" data-has-blockly="false" data-has-graphics="true" data-has-shell="false"
                        data-python-id="rainbow" data-python-url="ressources/l-system/assets/python/rainbow.py"
                        class="btn btn-success btn-python">
                        Essayer le code
                    </button>
                </div>
            </div>
        </div>

        <h4>
            À faire vous même
        </h4>
        <p>
        Vous allez créer une fonction spirale qui prend en entrée la taille maximum du côté de la spirale 
            et qui va créer une spirale comme celle ci dessous, où le plus petit côté vaut 5 et qui s'arrête
            juste avant de dépasser la taille maximum, et la différence de longueur entre deux côtés successifs 
            est de 5. Vous ferez cela en complétant le code proposé.
        </p>
        <img src="ressources/l-system/assets/img/spirale.png" alt="Une spirale régulière">
        <div class="essais">
            <button type="button" data-has-blockly="false" data-has-graphics="true"
                data-has-shell="false"
                data-active-tab="consigne"
                data-consigne-url="ressources/l-system/assets/consignes/spirale.html"
                data-python-id="spirale"
                data-python-url="ressources/l-system/assets/python/spirale.py"
                class="btn btn-success btn-python">
                Compléter le code
            </button>
        </div>

        <h3> La course de tortues (optionnel)</h3>

        <p> Pour vous entrainer à utiliser turtle, vous pouvez effectuer ce
            <a href="https://www.futurelearn.com/info/courses/object-oriented-principles/0/steps/31480"
                target="_blank">
                mini projet de course de tortues
            </a> </p>

        <p>
            Nous allons pouvoir passer à la dernière étape qui est de représenter graphiquement un L-System.
        </p>
</div>
{% endblock %}